{:version      {:major 1
                :minor 1
                :patch 1}
 :version-type :semver3
 :changes      {:added      []
                :changed    []
                :deprecated []
                :removed    []
                :fixed      ["Added annotative metadata to functions and namespaces to hide the implementation better."]
                :security   []}
 :timestamp    "2023-05-26T13:27:21.208180100Z"}
